<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org/"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <script>
    	// DOMContentLoaded => 돔이 완성되고
      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelector('form[name="insertForm"]')
          .addEventListener("submit", boardInsertAjax);
      });

      function boardInsertAjax(event) {
        event.preventDefault();

        const formTag = event.currentTarget;
        // 1) 제목
        let titleTag = formTag.querySelector('[name="title"]');
        if (titleTag.value == "") {
          alert("제목을 입력하세요.");
          titleTag.focus();
          return;
        }

        // 2) 작성자
        let writerTag = formTag.querySelector('[name="writer"]');
        if (writerTag.value == "") {
          alert("작성자를 입력하세요.");
          writerTag.focus();
          return;
        }

        // 3) 작성일자
        let regdateTag = formTag.querySelector('[name="regdate"]');
        if (regdateTag.value == "") {
          alert("작성일자를 입력하세요.");
          regdateTag.focus();
          return;
        }

        alert("게시글이 등록되었습니다.");
        formTag.submit();
      }
    </script>
    <div class="container">
      <form name="insertForm" th:action="@{/boardInsert}" method="post">
        <h3 class="text-center">게시글 등록</h3>
        <table class="table">
          <tr>
            <th>제목</th>
            <td><input type="text" name="title" /></td>
          </tr>
          <tr>
            <th>작성자</th>
            <td><input type="text" name="writer" /></td>
          </tr>
          <tr>
            <th>내용</th>
            <td height="100px" width="200px">
              <textarea name="contents"></textarea>
            </td>
          </tr>
          <tr>
            <th>첨부파일</th>
            <!-- cat.jpg -->
            <td><input type="text" name="image" /></td>
          </tr>
          <tr>
            <th>작성일자</th>
            <!-- yyyy-MM-dd -->
            <td><input type="date" name="regdate" /></td>
          </tr>
        </table>
        <div>
          <button type="submit">
            등록
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
