<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8"/>
<title></title>
</head>
<body>
	<div class="container">
		<h3>게시글 목록</h3>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="list : ${boards}">
					<tr th:onclick="|location.href='@{boardInfo(bno=${list.bno})}'|">
						<td>[[ ${list.bno} ]]</td>
						<td>[[ ${list.title} ]]</td>
						<td>[[ ${list.writer} ]]</td>
						<td>[[ ${#dates.format(list.regdate, 'yyyy/MM/dd')} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>
