<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<title></title>
</head>
<body>
	<div class="container">
		<h3>게시글 목록</h3>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="list : ${boards}">
					<tr>
						<td>[[ ${list.bno} ]]</td>
						<td>[[ ${list.title} ]]</td>
						<td>[[ ${list.writer} ]]</td>
						<td>[[ ${list.regdate} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>
