<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>타임리프</h1>
	<ul th:if="${list.isEmpty()}"> <!--/* ${}, 변수표현식 => 가장 많이 쓰는 표현식 */-->
		<li th:each="num : ${#numbers.sequence(1,10)}">
			[[ ${num} ]]
		</li>
	</ul>
	<!--/* 
		1. Controller에서 Model 객체에 페이지에서 사용할 데이터를 담음
		2. => thymeleaf에서 사용할 변수
		3. thymeleaf에선 ${}(변수표현식)을 이용해서 해당 데이터를 사용
		4. th:속성="${변수명}" 반식으로 기본 사용
	 */-->
	 <h2>특정 사원 정보</h2>
	 <div>
	 	<p th:text="${info.employeeId}"></p>
	 	<label>[[ ${info.lastName} ]], 
	 		<input th:value="${info.firstName}"></label>
	 </div>
	 <!--/* 
	 	th:if와 th:each는 태그의 생성에 관여
	 	<th:block/> : thymeleaf의 유일한 태그
	 	<th:block th:each="임시변수, 상태값 : ${변수명(배열타입)}">
	 		<태그 th:속성="${임시변수}"></태그>
	 	</th:block>
	  */-->
	  <th:block th:each="emp, status : ${list}">
	  	<ul th:if="${ status.index < 10 }">
	  		<li>[[ ${status.count} ]]</li>
  			<li name="사원번호">[[ ${emp.employeeId} ]]</li>
  			<li name="사원이름">[[ ${emp.lastName} ]]</li>
  			<li name="입사일">[[ ${#dates.format(emp.hireDate, "yyyy년 MM월 dd일")} ]]</li>
		</ul>
	  </th:block>
</body>
</html>