<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AJAX</title>
</head>
<body>
	<div>
		<input type="file" name="uploadFiles" multiple>
		<button class="uploadBtn">upload</button>
	</div>
	<script>
		document.querySelector('.uploadBtn')
			.addEventListener('click', function(event){
			let formData = new FormData();
			// 1) <form/>태그 내부의 입력태그 정보를 한번에 받음
			// 2) AJAX를 이용하여 'Content-type:multipart/form-data'를 보내는 경우
			
			let input = event.currentTarget.previousElementSibling;
			let fileList = input.files;
			
			for(let file of fileList){
				formData.append(input.name, file);
			}
			
			console.log(formData.get("uploadFiles"));
			
			fetch('uploadsAjax', {
				method : 'post',
				body : formData
			})
			.then(res => res.json())
			.then(result => {
				for (let image of result){
					let imgTag = `<img src='/app/images/${image}' style="width : 50%;">`;
					document.querySelector('div').insertAdjacentHTML("beforeend", imgTag);
				}
			})
			.catch(err => console.log(err));
			
		});
		
	</script>
</body>
</html>